$emphasis: #FF7838;

@import "include/button";
@import "include/slick";
@import "include/slick-theme";

@font-face {
  font-family: Muller; /* Имя шрифта */
  src: url("fonts/muller/MullerBold.otf"); /* Путь к файлу со шрифтом */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Muller; /* Имя шрифта */
  src: url("fonts/muller/MullerRegular.otf"); /* Путь к файлу со шрифтом */
  font-weight: normal;
}

body {
  //background: blue;
  font-family: Ubuntu;
  padding: 0;
  margin: 0;
  color: #343434;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #e1e1e1;
}
::-webkit-scrollbar-thumb {
  background: $emphasis;
}

.section-title {
  font-family: Muller;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0.5px;
  span {
    color: $emphasis;
  }
}

a {
  transition-duration: 0.3s;
  color: #343434;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
  color: white;
  align-items: center;
  //background-color: rgba(0, 0, 0, 0.1);
  .logo {
    width: 150px;
    img {
      width: 100%;
    }
  }
}
header.scroll{
  color: #343434;
  background-color: #fff;
  a{
    color:#343434;
  }
}
.menu-block{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35%;
  top: 0;
  bottom: 0;
  right: -35%;
  z-index: 100;
  background-color: #F9F9F9;
  padding: 80px;
  transition: all .6s ease;
  &.open{
    right: 0;
    .menu{
      opacity: 1;
      transform: translateY(0);
    }
    .soc-block{
      opacity: 1;
      transform: translateY(0);
    }
    .copy{
      opacity: 1;
      transform: translateY(0);
    }

  }
  ul.menu{
    transition: transform .5s .4s ease,opacity .5s .4s ease,color .3s ease;
    transform: translateY(3rem);
    opacity: 0;
    overflow-y: auto;
    max-height: 60%;
    list-style: none;
    font-family: Muller;
    text-transform: uppercase;
    font-size: 30px;
    .sub-menu{
      list-style: none;
      font-size: 20px;
      font-weight: 400;
      font-family: Ubuntu;
      text-transform: none;
      display: none;
      a{
        padding: 10px 0;
      }
    }
    a{
      font-weight: 400;
      padding: 5% 0;
      display: block;
      &.active{
        font-weight: bold;
      }
    }
  }
  .menu-item.open{
    /*transition: transform .5s .6s ease,opacity .5s .6s ease;*/
    a{
      padding-bottom: 10px;
    }
  }
  .soc-block{
    transition: transform .5s .6s ease,opacity .5s .4s ease,color .3s ease;
    transform: translateY(3rem);
    opacity: 0;
    font-size: 22px;
    a{
      padding: 10px;
      &:first-child{
        padding-left: 0;
      }
    }
  }
  .copy{
    transition: transform .5s .8s ease,opacity .5s .4s ease,color .3s ease;
    transform: translateY(3rem);
    opacity: 0;
    font-size: 14px;
    font-weight: 300;
    font-family: Ubuntu;
  }

  .menu-close{
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 10px;
    img{
      width: 30px;
      pointer-events: none;
    }
  }

}


.phone-top a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  &:hover{
    color: $emphasis;
  }
}

.soc-top a {
  margin-right: 30px;
  color: #fff;
  font-size: 20px;
  &:hover {
    color: $emphasis;
  }
}

.menu-btn {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
}

section {
  position: relative;
  height: 100vh;
  //padding: 180px 0;
  //outline: 1px solid gray;

  &.light-section {

  }
  &.dark-section {
    color: white;
    .section-side-title {
      color: white;
    }
    .section-title {
      color: white;
    }
  }
  .section-side-title {
    position: absolute;
    top: 50%;
    left: 60px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transform: rotate(-90deg) translateY(-50%);
  }
}

.first-block {
  background-image: url('/assets/img/first-bg.png');
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.ms-item {
  color: white;
  .ms-mini-desc {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 50px;
  }
  .ms-title {
    text-transform: uppercase;
    font-family: Muller;
    font-size: 46px;
    line-height: 60px;
    font-weight: bold;
    max-width: 700px;
    span {
      color: $emphasis;
    }
    padding-bottom: 50px;
  }
  .ms-btn {
    position: relative;
  }
  .ms-btn:after {
    position: absolute;
    content: '';
    height: 6px;
    width: 100px;
    background-color: $emphasis;
    border-radius: 50px;
    top: 100px;
    left: 0;
    pointer-events: none;
  }
}

.wwd {
  color: #343434;
  .my-vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .section-title {
    padding-bottom: 50px;
  }
  ul.list-dir {
    list-style: none;
    li {
      padding-bottom: 30px;
    }
    a {
      text-decoration: none;
      color: #7b7b7b;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
    a:hover {
      color: #333;
    }
  }
}

.wwd-btn:hover {
  padding-left: 20px;
}

.vert-cent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.img-block {
  position: relative;
  margin-left: 130px;
  margin-bottom: 130px;
  img {
    width: 100%;
    max-height: 360px;
  }
}

.img-block-dots {
  position: absolute;
  z-index: -1;
  left: -25%;
  bottom: -19%;
  width: 101%;
  top: 50%;
  background: url("/assets/img/dots-dark2.png") 0 0 repeat;
}

.grid-type1 {
  display: flex;
}

.grid-item {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #343434;
  box-sizing: border-box;
  width: 33.33333%;
}

.grid-item:nth-child(1),
.grid-item:nth-child(3) {
  border-left: none;
  border-right: none;
}

.grid-item:nth-child(1) {

}

.grid-type1 {
  .title {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    padding-top: 10px;
    letter-spacing: 0.5px;
  }
  .number {
    font-size: 36px;
    font-weight: bold;
    color: $emphasis;
  }
}

.portfolio {
  background-color: black;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  .section-title {
    padding-bottom: 100px;
  }
}

.portfolio-grid {
  .item {
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .title {
    min-height: 200px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    transition-duration: 0.2s;
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    &:hover {
      border-color: $emphasis;
      background-color: $emphasis;
    }
  }
}
.img-bg-portfolio{
  z-index: 0;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0;
  will-change: opacity,transform;
  transition: opacity .5s .2s ease,transform 5s .2s ease;
  transform: scale(1);
  &.active{
    opacity: 1;
    transform: scale(1.05);
  }
}



@keyframes scale-img {
  0%    { transform: scale(1); }
  50%   { transform: scale(1.2); }
  100%  { transform: scale(1); }
}

.btn-portfolio {
  color: white;
  text-align: right;
  padding-right: 50px;
  &:hover {
    padding-right: 30px;
  }
}

.ww-offer {
  padding-left: 100px;
  padding-right: 100px;
  .vert-cent {
    background: url("/assets/img/dots-dark2.png") 0 0 repeat;
  }
  .section-title {
    padding-bottom: 4rem;
  }
}

.wwo-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    padding-bottom: 4rem;
  }

  .wwo-icon {
    img {
      height: 76px;
    }
    padding-bottom: 50px;
  }
  .wwo-title {
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    color: #343434;
    font-family: Muller;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .wwo-desc {
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
  }
}

.steps {
  background-image: url('/assets/img/step-bg-min.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top left;
  .section-title {
    padding-bottom: 4rem;
  }
}

.steps-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .step-item {
    position: relative;
    min-height: 180px;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    padding-left: 40px;
    z-index: 1;
    width: 30%;
    background-image: url('/assets/img/icon/step.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    &:first-child {
      background: none;
      padding-left: 0;
      .step-number {
        left: -20px;
      }
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 35%;
    }
  }
  .step-number {
    position: absolute;
    font-size: 260px;
    color: #ececec;
    top: -60px;
    font-family: Ubuntu;
    font-weight: bold;
    z-index: 0;
    left: 20px;
  }
  .step-text {
    position: relative;
    z-index: 0;
    padding-left: 30px;
    padding-right: 20px;
    font-family: Ubuntu;
    font-size: 16px;
  }
}

.partners {

}

.section-title.quote {
  padding-bottom: 180px;
  padding-left: 80px;
}

.quote {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    top: -45px;
    width: 64px;
    height: 50px;
    left: 10px;
    background-image: url("/assets/img/icon/quote.svg");
    background-size: contain;
  }
}
.rev-item{
  outline:none;
}
.rev-text {
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
  letter-spacing: 0.5px;
  padding-bottom: 50px;
}

.rev-author {
  font-size: 14px;
  font-weight: bold;
  color: #343434;
  padding-bottom: 15px;
}

.rev-desc {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
}

.partners-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  .section-title {
    padding-bottom: 100px;
  }
}

.partners-logo {
  .p-img {
    padding-bottom: 50px;
  }
}

.contact {
  .section-title {
    padding-bottom: 100px;
  }
  #map {
    padding-bottom: 50px;
  }
  .grid-item {
    padding: 30px;
  }
  .grid-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    font-family: Muller;
  }
}

.grid-type2 {
  display: flex;
  p {
    margin: 0;
  }
  .grid-item {
    align-items: flex-start;
    flex-direction: row;
  }
  .grid-text {

    font-size: 14px;
    font-family: Ubuntu;
    p {
      padding-bottom: 10px;
      font-weight: 600;
    }
    a {
      color: #777;
      padding-bottom: 30px;
      display: block;
      &:hover{
        color:#343434;
      }
    }
    span {
      color: #777;
      line-height: 20px;
    }
  }
}

footer {
  background-color: #232323;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  a {
    color: white;
    &:hover {
      color: $emphasis;
    }
  }
  p {
    margin: 0;
    padding-right: 100px;
  }
  .up-btn{
    cursor:pointer;
    color: $emphasis;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    transition-duration: 0.2s;
    .up-block{
      width: 30px;
      height: 30px;
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      img{
        width: 10px;
      }
    }
    &:hover{
      color: #fff;
      .up-block{
      //  background-color: #b5b5b5;
      }
    }
  }
}